body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;

}

p {
  font-size: 16px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav, .navbar-header, li a:hover {
  color: #1abc9c !important;
}

.margin {
  margin-bottom: 40px;
}

.bg-1 {
  background-color: #48A9A6;
  /* Green */
  color: #ffffff;
  height: 100%;
}

.bg-2 {
  background-color: #474e5d;
  /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black */
  color: #ffffff;
}

.bg-5 {
  background-color: #48A9A6;
  /* Green */
  color: #555555;
}

.bg-6 {
  background-color: #48A9A6;
  color: #ffffff;
  height: 70px;
}

.container-fluid {
  padding-top: 110px;
  padding-bottom: 30px;
}

.name {
  color: #474e5d;
}

.quote {
  padding-top: 10px;
}

.btn-square {
  border-radius: 0;
  background-color: #48A9A6;
}

#img {
  padding-top: 30px;
}

#myNavbar {
  font-size: 14px;
}

#links {
  color: #555555

}

#links:hover {
  color: #48A9A6
}

#co, #ed, #cm {
  padding-top: 60px;
}
