body {
  font: 24px "Montserrat", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;

}

p {
  font-size: 16px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav, li a:hover {
  color: #48A9A6 !important;
}

.navbar-header, li a:hover {
  color: #48A9A6 !important;
}

.margin {
  margin-bottom: 40px;
}

.bg-1 {
  background-color: #48A9A6;
  /* Green */
  color: #ffffff;
  height: 100%;
  /* margin-top: 40px; */
}

.bg-2 {
  background-color: #474e5d;
  /* Dark Blue */
  color: #ffffff;

}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black */
  color: #ffffff;
}

.bg-5 {
  background-color: #48A9A6;
  /* Green */
  color: #555555;
}

.bg-6 {
  background-color: #48A9A6;
  color: #ffffff;
  height: 70px;
}

.container-fluid {
  padding-top: 110px;
  padding-bottom: 30px;
}

.name {
  color: #474e5d;
}

.quote {
  padding-top: 10px;
}

.btn-square {
  border-radius: 0;
  background-color: #48A9A6;
}

#img {
  padding-top: 30px;
}

#myNavbar {
  font-size: 14px;
}

#links {
  color: #555555

}

#links:hover {
  color: #48A9A6
}

#co, #ed, #cm {
  padding-top: 60px;
  margin-bottom: 20px;
}

#scroll {
    position:fixed;
    right:40px;
    bottom:40px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#48A9A6;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-6px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:orange;
    border-color: #fff;
    border-style: solid;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

#scroll:hover span {
  margin-left:-8px;
  margin-top:-12px;
  transition: all 0.3s ease;

}
